In [1]:
%matplotlib notebook
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [5]:
import requests
import json

In [6]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, desc

In [7]:
engine = create_engine('sqlite:///wine/db/wineDB.sqlite', echo=False)

In [8]:
engine.execute('SELECT * FROM data LIMIT 2').fetchall()

[('US', 'Tart and snappy, the flavors of lime flesh and rind dominate. Some green pineapple pokes through, with crisp acidity underscoring the flavors. The wine was all stainless-steel fermented.', 87, 14.0, 'Oregon', 'Willamette Valley', 'Paul Gregutt', '@paulgwine\xa0', 'Rainstorm 2013 Pinot Gris (Willamette Valley)', 'Pinot Gris', 'Rainstorm', 'Willamette Valley,Oregon,US', 44.942554, -122.9337615),
 ('US', "Much like the regular bottling from 2012, this comes across as rather rough and tannic, with rustic, earthy, herbal characteristics. Nonetheless, if you think of it as a pleasantly unfussy country wine, it's a good companion to a hearty winter stew.", 87, 65.0, 'Oregon', 'Willamette Valley', 'Paul Gregutt', '@paulgwine\xa0', "Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley)", 'Pinot Noir', 'Sweet Cheeks', 'Willamette Valley,Oregon,US', 44.942554, -122.9337615)]

In [9]:
df = pd.read_sql_table('data', con=engine)

In [10]:
df.head()

,country,description,points,price,province,region,taster_name,taster_twitter_handle,title,variety,winery,address,lats,lngs
0,US,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,"Willamette Valley,Oregon,US",44.942554,-122.933762
1,US,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,"Willamette Valley,Oregon,US",44.942554,-122.933762
2,Spain,Blackberry and raspberry aromas show a typical...,87,15.0,Northern Spain,Navarra,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,"Navarra,Northern Spain,Spain",42.806033,-1.635701
3,Italy,"Here's a bright, informal red that opens with ...",87,16.0,Sicily & Sardinia,Vittoria,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo,"Vittoria,Sicily & Sardinia,Italy",36.952100,14.537265
4,France,This dry and restrained wine offers spice in p...,87,24.0,Alsace,Alsace,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach,"Alsace,Alsace,France",48.318179,7.441624

In [11]:
top_wines = df.groupby('variety')['title'].count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)
top_wines

                      variety  count
276                Pinot Noir   8629
71                 Chardonnay   6944
294                 Red Blend   5770
38         Cabernet Sauvignon   5029
26   Bordeaux-style Red Blend   4479

In [15]:
avg_wines = df.groupby('variety')['price'].mean() \
                             .reset_index(name='avg price') \
                             .sort_values(['avg price'], ascending=False) \

In [18]:
top_wines.merge(avg_wines, how="left")

                    variety  count  avg price
0                Pinot Noir   8629  52.113802
1                Chardonnay   6944  39.371976
2                 Red Blend   5770  35.567244
3        Cabernet Sauvignon   5029  49.016305
4  Bordeaux-style Red Blend   4479  44.672918

In [19]:
avg_points = df.groupby('variety')['points'].mean() \
                             .reset_index(name='avg points') \
                             .sort_values(['avg points'], ascending=False)

In [22]:
combine = top_wines.merge(avg_points, how="left")

In [23]:
better = combine.merge(avg_wines, how="left")

                    variety  count  avg points  avg price
0                Pinot Noir   8629   89.914706  52.113802
1                Chardonnay   6944   88.943836  39.371976
2                 Red Blend   5770   88.512478  35.567244
3        Cabernet Sauvignon   5029   88.867170  49.016305
4  Bordeaux-style Red Blend   4479   88.710203  44.672918

In [ ]:
better.to_csv('bar.csv', index = False)